<div class="container mt-5">
    <div class="row">
        <div class="col-6 mx-auto">
            <form action="/uploadfile" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="titulo"
                        placeholder="Titulo...">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
                    <textarea name="descripcion" placeholder="Descripcion..." class="form-control"
                        id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Subir Imagen</label>
                    <input class="form-control" type="file" id="formFile" value="undefined" name="image">
                </div>
                <button type="submit" class="btn btn-primary">Subir</button>
            </form>
        </div>
    </div>
</div>
<div class="container mx-auto">
    {{#if subido}}
    <h1>{{titulo}}</h1>
    <h4>{{public_id}}</h4>
    <div class="foto">
        <img class="fot" src="{{image_url}}" alt="fotosubida">
    </div>
    <p>{{descripcion}}</p>
    {{/if}}
    {{#if error}}
    <h5>{{messaje}}</h5>
    {{/if}}
</div>